body {
    color: #ffffff;
    background-color: #909090;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    margin:0
}

h1,
h2,
h3,
a {
    color: #e5e2e2;
}

h2,
h3 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal; 
}

h1 {
    font-family: 'Lora', serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    text-shadow: 0 30px 10px black;
    color: #bababa
}

h2 {
    font-size: 30px;
    text-align: center;
    margin-top: 0;
    padding-top: 10px;
    padding-right: 85%;
}

h3 {
    font-size: 24px;
    margin-top: 36px;
}

a {
    font-style: italic;
}


.cestovanie,
.varenie,
.sport,
.architektura {
    background-color: #3b3734;
    padding-left: 9%;
    padding-right: 9%;
    font-size: 16px;
}

.kontakt {
    background-color: #3b3734;
    padding-left: 9%;
    padding-right: 9%;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 30px;
}

.patička {
    background-color: #909090;
    color:#e5e2e2;
    text-align: center;
    padding-top: 0px;
}


.foto-omne {
    width: 270px;
    height: 390px;
    padding-left: 5%;
    padding-right: 0%;
    padding-bottom: 30px;
    padding-top: 30px;
    float:right;
}

.cestovanie img,
.varenie img,
.architektura img {
    width: 24%;
    border: 2px solid #ffffff;
}

.sport img {
    width: 24%;
    border: 2px solid #ffffff;
}



th,
td {
    text-align: left;
    border-bottom: 1px solid black;
    padding: 10px 0px;
}

table {
    border-spacing: 0px;
}

.cena {
    text-align: right;
    padding-left: 50px;

}

.omne{
    padding-left: 20%;
    padding-right: 10%;
    padding-top: 10px;
    text-align: center;
    font-size: 16px;
    overflow: auto;

}

.section{
    overflow: auto;
}

.hlavicka{
    background-image: url(obrazky/title3.jpg);
    padding:50px 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.menu{
    margin:0;
    padding: 0;
    text-align: center;
    background-color: rgb(23, 73, 73);
}

.menu li{
    display:inline-block;

}

.menu a{
    display:inline-block;
    text-decoration: none;
    padding: 10px 30px;
}


.menu a:hover,
.menu a:focus,
.menu a:active {
    background-color: rgb(19, 31, 31);
}
